community:
  enabled: true

monitoringPasscode: "supersecretpass123"

sonarProperties:
  sonar.web.host: "0.0.0.0"
  sonar.web.context: "/"

service:
  type: LoadBalancer
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "false"

resources:
  requests:
    cpu: 300m
    memory: 1Gi
  limits:
    cpu: 600m
    memory: 2Gi
